@charset "UTF-8";

header {
  display: flex;
  justify-content: center;
  padding: 8px 19px;
  margin: 2em 0;
  color: #ffffff;
  background: #33bbaa;
  border: solid 5px #33aaaa;
}

h1 {
  font-size: 40px;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h1 a{
	color: #ffffff;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  min-height: 500px;
}

#login, #new {
  font-size: 15px;
  border-radius: 5px;
  margin: 5px 5px;
  padding: 10px 10px 100px 10px;
  border: solid 5px #33aaaa;
}

footer {
  background-color: #cccccc;
  border-radius: 5px;
  text-align: center;
}

header, #description, main, footer {
  margin: auto;
  max-width: 1200px;
}